 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        
        .container {
            background-color: rgb(22, 15, 237);
            width: 90%;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: rgb(207, 252, 8) solid 2px;
        }

        
        .profile-header {
            text-align: center;
            color: #f9f506;
        }

        
        .profile-info {
            display: flex;
            flex-wrap: wrap; 
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;
        }

        .profile-photo {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: 0px solid rgb(54, 54, 164);
        }

        .profile-photo img {
            width: 90%;
            height: 100%;
            object-fit: cover;
              border-radius: 80px;
        }

        .profile-links {
            text-align: center;
            color: #f7c01b;
            font-weight: bold;
        }

        .profile-links span {
            margin: 0 8px;
            cursor: pointer;
        }

        h3 {
            text-align: center;
            color: #fffb22;
        }

        
        .schools-grid, .work-experience {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            margin-top: 15px;
        }

        .school-item, .work-item {
            background-color: #0fe33c;
            padding: 10px;
            border-radius: 20px;
        }

       

        
        @media (max-width: 600px) {
            .profile-info {
                flex-direction: column;
            }
            .profile-links {
                margin-top: 10px;
            }
        }
